{% extends "typo/base.html" %} {% block content %}
<main class="main-content">
  <div class="container is-max-desktop">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="{{ url_for('static', filename='images/hieu.png') }}" alt="Author Avatar" class="is-rounded" />
        </figure>
      </div>
      <div class="media-content">
        <h1 class="title is-italic-title">About me</h1>
        <p>
          This is me, on the left. I'm working at Robert Bosch AB in Sweden as a staff data engineer. As part of the
          process of being promoted to the staff position, I'm expected to not just solve technical problems like a
          senior software engineer, but also to share my knowledge and experience with the community. Hence, this blog
          where I aim for at least 2 posts per month. I hope you find some of the content here useful, and if you have
          any questions or suggestions, feel free to reach out to me on
          <a href="https://www.linkedin.com/in/dangtranhieu/" target="_blank">LinkedIn</a>.
        </p>
      </div>
    </article>
  </div>
</main>
{% endblock %}
