{% extends "typo/base.html" %} {% block content %}
<section class="section" style="padding-top: 8.5rem">
  <div class="container article-container">
    <!-- Header -->
    <header class="mb-6">
      <div class="is-flex is-align-items-center mb-5 tags-list">
        {% for tag in tags %}
        <span class="tag-item">{{ tag }}</span>
        {% endfor %}
      </div>
      <h1 class="title is-size-1 is-italic-title mb-6">{{ title }}</h1>
      <div class="author-section is-flex is-align-items-center">
        <figure class="image is-40x40 mr-4">
          <div
            class="has-background-grey-lighter is-rounded is-flex is-justify-content-center is-align-items-center"
            style="width: 40px; height: 40px; border-radius: 50%"
          >
            <img
              class="w-full h-full object-cover is-rounded"
              data-alt="Close up portrait of the author"
              src="{{ url_for('static', filename='content/images/' + author_avatar) }}"
            />
          </div>
        </figure>
        <div>
          <p class="meta-label" style="font-size: 0.6rem">{{ author }}</p>
          <p class="is-size-7 has-text-grey">{{ published.strftime("%b %d, %Y") }}</p>
        </div>
      </div>
    </header>
    <!-- Article Body -->
    <div class="content is-medium dropcap">{{ body | safe }}</div>
    <!-- Article Navigation -->
    <nav class="columns article-nav mt-6">
      {% if previous_article %}
      <div class="column">
        <a class="has-text-dark" href="{{ previous_article.article_path.name }}">
          <span class="meta-label is-block mb-2">Previous</span>
          <span class="is-size-4 is-italic-title">{{ previous_article.title }}</span>
        </a>
      </div>
      {% endif %} {% if next_article %}
      <div class="column has-text-right" style="border-left: 1px solid #eee">
        <a class="has-text-dark" href="{{ next_article.article_path.name }}">
          <span class="meta-label is-block mb-2">Next Article</span>
          <span class="is-size-4 is-italic-title">{{ next_article.title }}</span>
        </a>
      </div>
      {% endif %}
    </nav>
  </div>
</section>
{% endblock %}
